<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="registration" data-hook>
  <div id="loginr" class="columns alpha eight">
    <%= render :file => 'spree/user_sessions/new', locals: {aux_links: false} %>
  </div>
  <div id="registrationus" class="columns alpha eight">
    <div id="new-customer" xmlns="http://www.w3.org/1999/html">
      <h4><%= t(:first_timer) %></h4>
      <span class="big_desc"><%= t(:reg_desc2) %></span>
      <%= form_tag seen_reg_page_path do %>
        <%= submit_tag t(:proceed_to_checkout), :class => 'button primary' %>
      <% end %>
    </div>
  </div>
</div>
