<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div class="columns five alpha" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails', :locals => { :product => @product } %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns eleven omega" data-hook="product_right_part">
    <div class="row" data-hook="product_right_part_wrap">

      <div id="product-description" data-hook="product_description">
        <div class="product-title">
          <h1 itemprop="name" style=""><%= accurate_title %></h1>
          <% if @product.price %>
              <div id="product-price" class="product-price-wrap" style="">
                <span class="price selling" itemprop="price"><%= money @product.price %></span>
              </div>
          <% end %>
        </div>

        <div id="cart-form" data-hook="cart_form">
          <%= render :partial => 'cart_form' %>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>
      </div>

      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_pinterest_pinit"></a>
        <div id="vk_like"></div>
        <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "button", height: 20});
        </script>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5133b2d651a7b662"></script>
      <!-- AddThis Button END -->

    </div>
  </div>
</div>

<% if @product.taxons.present? %>
    <div id="taxon-crumbs" data-hook class="alpha columns sixteen omega">
      <h6 class="product-section-title">
        <%= t(:look_for_similar_items) %>
        <a class="product-view-all" href="<%= seo_url(@product.taxons[0]) %>">Смотреть все &rarr;</a>
      </h6>
      <div data-hook="product_taxons">
        <ul id="products" class="inline product-listing similar-products" data-hook>
          <% @similar_products.each do |product| %>
              <% if product.on_display? %>
                  <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
                    <div class="product-image">
                      <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
                    </div>
                    <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
                  </li>
              <% end %>
          <% end %>
          <% reset_cycle("classes") %>
        </ul>
      </div>
    </div>
<% end %>
